body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(images/Gemini_Generated_Image_gu7c2gu7c2gu7c2g.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}